[run]
source = /dump_in
omit =
    .coveragerc
    .env.example
    .github/ISSUE_TEMPLATE/bug.md
    .github/ISSUE_TEMPLATE/issue.md
    .github/dependabot.yml
    .github/pull_request_template.md
    .github/workflows/CI.yml
    .github/workflows/rebase_dependencies.yml
    .gitignore
    .gitmessage.txt
    .pre-commit-config.yaml
    LICENSE
    README.md
    config/
    docker/
    github-actions.docker-compose.yml
    manage.py
    mypy.ini
    pyproject.toml
    pytest.ini
    requirements.txt
    setup.cfg
    tests/__init__.py
    tests/tests.py
